<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление дополнительных атрибутов автомобиля</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="">
        <h1 class="mt-4 mb-4">Добавление характеристик автомобиля</h1>
        
        <!-- Форма с использованием стилей Bootstrap -->
        <form action="/add_car_attributes/{{ car_id }}" method="post">
            <div class="form-group">
                <label for="seats_count">Количество мест:</label>
                <input type="number" class="form-control" id="seats_count" name="seats_count" required>
            </div>
            <div class="form-group">
                <label for="trunk_volume">Объем багажника:</label>
                <input type="text" class="form-control" id="trunk_volume" name="trunk_volume" required>
            </div>
            <div class="form-group">
                <label for="horse_power">Мощность двигателя:</label>
                <input type="text" class="form-control" id="horse_power" name="horse_power" required>
            </div>
            <div class="form-group">
                <label for="engine_volume">Объем двигателя:</label>
                <input type="text" class="form-control" id="engine_volume" name="engine_volume" required>
            </div>
            <div class="form-group">
                <label for="car_type" class="form-label">Тип автомобиля:</label>
                <select name="car_type" id="car_type" class="form-select">
                    <option value="Внедорожник">Внедорожник</option>
                    <option value="Кроссовер">Кроссовер</option>
                    <option value="Седан">Седан</option>
                    <option value="Хэтчбек">Хэтчбек</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-5">Добавить</button>
        </form>
    </div>
</body>
</html>
