<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление дополнительных параметров автомобиля</title>
</head>
<body>
    <h1>Добавление дополнительных параметров автомобиля</h1>
    
    <h2>Выбранный автомобиль:</h2>
    <p>Бренд: {{ car_info[1] }}</p>
    <p>Модель: {{ car_info[2] }}</p>
    
    <form action="/submit_car_params" method="post">
        <input type="hidden" name="car_id" value="{{ car_info[0] }}">
        
        <h2>Дополнительные параметры:</h2>
        
        <label for="seats_count">Количество мест:</label>
        <input type="number" id="seats_count" name="seats_count" required><br><br>
        
        <label for="trunk_volume">Объем багажника:</label>
        <input type="text" id="trunk_volume" name="trunk_volume" required><br><br>
        
        <label for="horse_power">Мощность двигателя:</label>
        <input type="text" id="horse_power" name="horse_power" required><br><br>
        
        <label for="engine_volume">Объем двигателя:</label>
        <input type="text" id="engine_volume" name="engine_volume" required><br><br>
        
        <label for="car_type">Тип автомобиля:</label>
        <input type="text" id="car_type" name="car_type" required><br><br>
        
        <input type="submit" value="Добавить">
    </form>
</body>
</html>
