<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AshimbekovMotors</title>
</head>
<body>
    <h1>Ashimbekov Motors</h1>
    <a href="/add_client_form"><button>Добавить клиента</button></a><br><br>
    <a href="/add_car_form"><button>Добавить авто</button></a><br><br>
    <a href="/show_clients"><button>Показать всех клиентов</button></a><br><br>
    <a href="/show_cars"><button>Показать все автомобили</button></a><br><br>
</body>
</html>