<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AshimbekovMotors</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <style>

        .btn-container {
          display: flex;
          flex-direction: column;
          align-items: start;
          
        }
        .btn-container a {
          margin-bottom: 20px;
          width: 240px;
        }
      </style>
</head>
<body>
    
    {% include 'navbar.html' %}
    <div class="mt-4 btn-container">
      <a href="/add_client_form" class="btn btn-primary">Добавить клиента</a>
      <a href="/add_car_form" class="btn btn-primary">Добавить авто</a>
      <a href="/show_clients" class="btn btn-primary">Показать всех клиентов</a>
      <a href="/show_cars" class="btn btn-primary">Показать все автомобили</a>
      <a href="/select_car" class="btn btn-primary">Выбрать автомобиль</a>
    </div>
</body>
</html>