<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Начать сделку</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="">
        <h2 class="mt-5 mb-4">Начать сделку</h2>
        <form action="/start_deal" method="post">
            <div class="form-group">
                <label for="client">Клиент:</label>
                <select class="form-control" id="client" name="client">
                    {% for client in clients %}
                        <option value="{{ client[0] }}">{{ client[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="manager">Менеджер:</label>
                <select class="form-control" id="manager" name="manager">
                    {% for manager in managers %}
                        <option value="{{ manager[0] }}">{{ manager[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="car">Автомобиль:</label>
                <select class="form-control" id="car" name="car">
                    {% for car in cars %}
                        <option value="{{ car[0] }}">{{ car[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="date">Дата сделки:</label>
                <input class="form-control" type="date" id="date" name="date" required>
            </div>
            <div class="form-group">
                <label for="insurance">Страховка:</label>
                <select class="form-control" id="insurance" name="insurance" onchange="showInsuranceFields(this)">
                    <option value="False">Нет</option>
                    <option value="True">Да</option>
                </select>
            </div>
            <div class="form-group">
                <label for="equipment">Комплектация:</label>
                <input class="form-control" type="text" id="equipment" name="equipment" required>
            </div>
            <div class="form-group">
                <label for="transaction_amount">Сумма транзакции:</label>
                <input class="form-control" type="number" id="transaction_amount" name="transaction_amount" required>
            </div>
            <div class="form-group">
                <label for="credit">Кредит:</label>
                <select class="form-control" id="credit" name="credit">
                    <option value="True">Да</option>
                    <option value="False">Нет</option>
                </select>
            </div>
            <div id="insuranceFields" style="display:none;">
                <label for="insurance_type">Тип страховки:</label>
                <input class="form-control" type="text" id="insurance_type" name="insurance_type">
            </div>
            <button class="btn btn-primary mt-3" type="submit">Начать сделку</button>
        </form>
    </div>

    

    <script>
        function showInsuranceFields(select) {
            var insuranceFields = document.getElementById("insuranceFields");
            if (select.value === "True") {
                insuranceFields.style.display = "block";
            } else {
                insuranceFields.style.display = "none";
            }
        }

        function updateTransactionAmount() {
        var carPrice = parseFloat(document.getElementById("car_price").value);
        var transactionAmount = carPrice;

        if (document.getElementById("insurance").value === "True") {
            transactionAmount += 100; // Пример добавления стоимости страховки к сумме транзакции
        }
        if (document.getElementById("credit").value === "True") {
            transactionAmount *= 1.05; // Пример добавления процента при кредите к сумме транзакции
        }

        document.getElementById("transaction_amount").value = transactionAmount.toFixed(2);
    }

        // Вызываем функцию updateTransactionAmount() при загрузке страницы и при изменении значений полей страховки и кредита
        window.onload = updateTransactionAmount;
        document.getElementById("insurance").onchange = updateTransactionAmount;
        document.getElementById("credit").onchange = updateTransactionAmount;

        function updateAvailability() {
        var carId = document.getElementById("car").value;

        // Отправляем AJAX-запрос на сервер Flask для обновления доступности автомобиля
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/update_availability", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                // Обработка успешного ответа
                console.log("Доступность автомобиля успешно обновлена");
            }
        };
        xhr.send(JSON.stringify({carId: carId}));
    }

    // Вызываем функцию updateAvailability() при изменении выбора автомобиля
    document.getElementById("car").onchange = updateAvailability;
    </script>

</body>
</html>
